/*Подключение шрифтов*/
@font-face {
  font-family: "Victor Mono";
  src: url(../fonts/VictorMono-Light.ttf) format("ttf"),
    url(../fonts/VictorMono-Medium.ttf) format("ttf"),
    url(../fonts/VictorMono-Bold.ttf) format("ttf");
}

body {
  font-family: "Victor Mono", monospace;
  position: relative;
  overscroll-behavior: none;
  background-image: url(../img/bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: flicker 5s infinite;
  z-index: -1;
}

@keyframes flicker {
  0%,
  100% {
    filter: brightness(0.9); /* Начальная и конечная яркость */
  }
  50% {
    filter: brightness(0.6); /* Яркость в пике мерцания */
  }
}

:root {
  --dark-color: #3f5957;
  --light-color: #d6dbd8;
  --primary-color: #acf2eb;
}

#smooth-content {
  padding: 15px;
  will-change: transform;
}

/* Стили для scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--light-color);
}

::-webkit-scrollbar-thumb {
  background: rgb(100, 135, 129);
  background: linear-gradient(
    90deg,
    rgba(100, 135, 129, 1) 0%,
    rgba(32, 47, 50, 1) 100%
  );
  background-size: 150%;
}

/*Стили для header*/
.header {
  border-radius: 4px;
  border: 1.5px solid var(--dark-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 30px 0;
  color: var(--light-color);
  /*Создание эффекта прозрачного стекла*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(15px) saturate(100%);
  backdrop-filter: blur(15px) saturate(100%);
  background-color: rgba(63, 89, 87, 0.1);
}

/*Стили для main*/
.main {
  color: var(--dark-color);
  max-width: auto;
  height: auto;
  display: flex;
  /*border: 1px solid black;*/
  margin: 15px 0;
  gap: 15px;
}

/*Стили для секции aside*/
.aside {
  /*background-color: var(--light-color);*/
  border: 1.5px solid var(--dark-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex: 90%;
  padding: 15px;
  /*Создание эффекта прозрачного стекла*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(15px) saturate(100%);
  backdrop-filter: blur(15px) saturate(100%);
  background-color: rgba(63, 89, 87, 0.1);
}

.aside__header {
  display: flex;
  margin: 40px 0;
  justify-content: center;
}

.aside__title {
  text-align: center;
  color: var(--light-color);
  font-size: 6vw;
  font-weight: 700;
}

.aside__title span {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--light-color);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  vertical-align: text-top;
  border: 1.5px solid var(--dark-color);
  /*Создание эффекта прозрачного стекла*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(30px) saturate(100%);
  backdrop-filter: blur(30px) saturate(100%);
  background-color: rgba(63, 89, 87, 0.1);
}

.article {
  display: grid;
  grid-template-columns: repeat(auto-fill, 205px);
  gap: 15px;
  justify-content: center;
}

.article__card {
  display: grid;
  grid-row-gap: 10px;
  place-items: center;
  border: 1.5px solid var(--dark-color);
  border-radius: 4px;
  color: var(--light-color);
  padding: 15px; /* Изменил для улучшения визуального отображения */
  transition: 0.5s;
  /*Создание эффекта прозрачного стекла*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(30px) saturate(100%);
  backdrop-filter: blur(30px) saturate(100%);
  background-color: rgba(63, 89, 87, 0.1);
}

.article__card:hover {
  cursor: pointer;
  transform: scale(1.06);
  border-color: var(--primary-color);
}

.card__date {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.card__temp {
  width: 120px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.temp-icon-container {
  display: flex;
  width: auto;
  align-items: center;
  gap: 10px; /* Расстояние между временем и иконкой */
}

.temp-icon-container img {
  width: 30px;
}

/*Стили для секции section */
.section {
  border: 1.5px solid var(--dark-color);
  border-radius: 4px;
  padding: 15px;
  /*Создание эффекта прозрачного стекла*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(15px) saturate(100%);
  backdrop-filter: blur(15px) saturate(100%);
  background-color: rgba(63, 89, 87, 0.1);
}

.section__bar,
.section__button {
  font-size: 15px;
  border: 1.5px solid var(--dark-color);
  border-radius: 4px;
  padding: 10px 0 10px 0;
  outline: none;
}

.section__bar {
  width: 100%;
  margin-bottom: 10px;
  background-color: #f0f2f6;
  /*Создание эффекта прозрачного стекла (для меню ввода) */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(30px) saturate(100%);
  backdrop-filter: blur(30px) saturate(100%);
  background-color: rgba(63, 89, 87, 0.1);
}

.section__bar::-webkit-input-placeholder {
  text-align: center;
  color: var(--light-color);
}

.section__bar:focus {
  text-align: center;
  color: var(--light-color);
  font-weight: 500;
}

.section__button {
  color: var(--light-color);
  font-weight: 700;
  width: 100%;
  background: rgb(100, 135, 129);
  background: linear-gradient(
    90deg,
    rgba(100, 135, 129, 1) 0%,
    rgba(32, 47, 50, 1) 100%
  );
  transition: 0.5s;
  background-size: 150%;
}

.section__button:hover {
  background-position: 90%;
  cursor: pointer;
  border: 1.5px solid var(--primary-color);
}

.section__information span {
  color: var(--light-color);
  font-weight: 700;
  font-size: 15px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.section__information p {
  color: var(--light-color);
  font-weight: 500;
  font-size: 15px;
  margin-top: 20px;
}

/*Стили для footer*/
.footer {
  display: flex;
  border-radius: 4px;
  border: 1.5px solid var(--dark-color);
  justify-content: space-evenly;
  align-items: center;
  padding: 60px 15px;
  text-align: center;
  color: var(--light-color);
  /*Создание эффекта прозрачного стекла*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(15px) saturate(100%);
  backdrop-filter: blur(15px) saturate(100%);
  background-color: rgba(63, 89, 87, 0.1);
}

.footer__logo {
  font-size: 30px;
  font-weight: 700;
}

.info__text {
  font-size: 20px;
  font-weight: 500;
}

.info__link {
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s;
}

.info__link:link,
.info__link:visited {
  color: var(--light-color);
}

.info__link:hover {
  color: var(--primary-color);
}
